<script>
  document.getElementById('isbn-lookup-input').value = '{{ isbn }}';
  {% if meta.title %}document.querySelector('[name=title]').value = '{{ meta.title|escapejs }}';{% endif %}
  {% if meta.authors %}document.querySelector('[name=author_names]').value = '{{ meta.authors|join:", "|escapejs }}';{% endif %}
  {% if meta.pages %}document.querySelector('[name=pages]').value = '{{ meta.pages }}';{% endif %}
  {% if meta.publisher %}document.querySelector('[name=publisher]').value = '{{ meta.publisher|escapejs }}';{% endif %}
  {% if meta.cover_url %}document.querySelector('[name=cover_url]').value = '{{ meta.cover_url|escapejs }}';{% endif %}
  {% if meta.description %}document.querySelector('[name=description]').value = '{{ meta.description|escapejs }}';{% endif %}
</script>
<p class="text-green-700 dark:text-green-400">Metadata loaded from Open Library / Google Books.</p>
